In [1]:
import pandas as pd
import numpy as np
import openpyxl

In [10]:
#create a dataframe wit example_dt_1.csv
example_dt_1 = pd.read_csv('C:/Users/reloo/OneDrive/Escritorio/Hackathlon/mds-udg-viz-i-dgcp-hackathon-23/src/data/examples/example_dt_1.csv')
example_dt_1['Country Code'] = 0
example_dt_1['Country Code'] = ['AGO', 'BDI', 'BEN', 'BFA', 'BWA', 'CAF', 'CIV', 'CMR', 'COD','COG', 'DJI', 'DZA']
example_dt_1

,country,2005_min,2005_max,2005_avg,2006_min,2006_max,2006_avg,2007_min,2007_max,2007_avg,...,2013_min,2013_max,2013_avg,2014_min,2014_max,2014_avg,2015_min,2015_max,2015_avg,Country Code
0,Argentina,17,37,27,12,39,26,23,42,33,...,24,39,32,15,38,26,NaN,NaN,NaN,AGO
1,Brasil,14,35,25,20,37,28,18,42,30,...,24,40,32,16,38,27,NaN,NaN,NaN,BDI
2,Colombia,16,38,27,19,36,28,20,40,30,...,24,38,31,14,36,25,NaN,NaN,NaN,BEN
3,Costa Rica,16,36,26,15,35,25,17,37,27,...,18,35,26,14,33,23,NaN,NaN,NaN,BFA
4,Ecuador,16,36,26,15,35,25,17,37,27,...,18,35,26,14,33,23,NaN,NaN,NaN,BWA
5,El Salvador,16,36,26,15,35,25,17,37,27,...,18,35,26,14,33,23,NaN,NaN,NaN,CAF
6,Guatemala,16,36,26,15,35,25,17,37,27,...,18,35,26,14,33,23,NaN,NaN,NaN,CIV
7,Honduras,16,36,26,15,35,25,17,37,27,...,18,35,26,14,33,23,NaN,NaN,NaN,CMR
8,México,16,36,26,15,35,25,17,37,27,...,18,35,26,14,33,23,NaN,NaN,NaN,COD
9,España,16,38,27,19,36,28,20,40,30,...,24,38,31,14,36,25,NaN,NaN,NaN,COG
10,Estados Unidos,16,38,27,19,36,28,20,40,30,...,24,38,31,14,36,25,NaN,NaN,NaN,DJI
11,Nicaragua,16,36,26,15,35,25,17,37,27,...,18,35,26,14,33,23,NaN,NaN,NaN,DZA

In [9]:
population = pd.read_excel('C:/Users/reloo/OneDrive/Escritorio/Hackathlon/mds-udg-viz-i-dgcp-hackathon-23/src/data/pop_bancomundial_excel.xlsx')
population
#rename the column iso_A3 to iso_code
#population.rename(columns={'ISO_A3':'iso_code'}, inplace=True)
#population=population[(population['Pre2012Ce']>2006)&(population['Pre2012Ce']<2016)]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,"Población, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,102112.0,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0
1,NaN,AFE,"Población, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,552530654.0,567891875.0,583650827.0,600008150.0,616377331.0,632746296.0,649756874.0,667242712.0,685112705.0,702976832.0
2,Afganistán,AFG,"Población, total",SP.POP.TOTL,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,...,30466479.0,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0
3,NaN,AFW,"Población, total",SP.POP.TOTL,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,...,376797999.0,387204553.0,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0
4,Angola,AGO,"Población, total",SP.POP.TOTL,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,...,25188292.0,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Población, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1807106.0,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1786038.0
262,"Yemen, Rep. del",YEM,"Población, total",SP.POP.TOTL,5542459.0,5646668.0,5753386.0,5860197.0,5973803.0,6097298.0,...,26223391.0,26984002.0,27753304.0,28516545.0,29274002.0,30034389.0,30790513.0,31546691.0,32284046.0,32981641.0
263,Sudáfrica,ZAF,"Población, total",SP.POP.TOTL,16520441.0,16989464.0,17503133.0,18042215.0,18603097.0,19187194.0,...,53145033.0,53873616.0,54729551.0,55876504.0,56422274.0,56641209.0,57339635.0,58087055.0,58801927.0,59392255.0
264,Zambia,ZMB,"Población, total",SP.POP.TOTL,3119430.0,3219451.0,3323427.0,3431381.0,3542764.0,3658024.0,...,14744658.0,15234976.0,15737793.0,16248230.0,16767761.0,17298054.0,17835893.0,18380477.0,18927715.0,19473125.0
265,Zimbabwe,ZWE,"Población, total",SP.POP.TOTL,3806310.0,3925952.0,4049778.0,4177931.0,4310332.0,4447149.0,...,13265331.0,13555422.0,13855753.0,14154937.0,14452704.0,14751101.0,15052184.0,15354608.0,15669666.0,15993524.0

In [16]:
#join the two dataframes by Country Code
examp_pop = pd.merge(example_dt_1, population, on='Country Code')
examp_pop

,country,2005_min,2005_max,2005_avg,2006_min,2006_max,2006_avg,2007_min,2007_max,2007_avg,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Argentina,17,37,27,12,39,26,23,42,33,...,25188292.0,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0
1,Brasil,14,35,25,20,37,28,18,42,30,...,9795479.0,10149577.0,10494913.0,10727148.0,10903327.0,11155593.0,11493472.0,11874838.0,12220227.0,12551213.0
2,Colombia,16,38,27,19,36,28,20,40,30,...,10014078.0,10308730.0,10614844.0,10932783.0,11260085.0,11596779.0,11940683.0,12290444.0,12643123.0,12996895.0
3,Costa Rica,16,36,26,15,35,25,17,37,27,...,17113732.0,17636408.0,18169842.0,18718019.0,19275498.0,19835858.0,20392723.0,20951639.0,21522626.0,22100683.0
4,Ecuador,16,36,26,15,35,25,17,37,27,...,2175425.0,2217278.0,2260376.0,2305171.0,2352416.0,2401840.0,2451409.0,2499702.0,2546402.0,2588423.0
5,El Salvador,16,36,26,15,35,25,17,37,27,...,4773306.0,4802428.0,4798734.0,4819333.0,4904177.0,4996741.0,5094780.0,5209324.0,5343020.0,5457154.0
6,Guatemala,16,36,26,15,35,25,17,37,27,...,22010712.0,22469268.0,22995555.0,23596741.0,24213622.0,24848016.0,25493988.0,26147551.0,26811790.0,27478249.0
7,Honduras,16,36,26,15,35,25,17,37,27,...,21032684.0,21632850.0,22299585.0,23012646.0,23711630.0,24393181.0,25076747.0,25782341.0,26491087.0,27198628.0
8,México,16,36,26,15,35,25,17,37,27,...,70997870.0,73460021.0,76035588.0,78656904.0,81430977.0,84283273.0,87087355.0,89906890.0,92853164.0,95894118.0
9,España,16,38,27,19,36,28,20,40,30,...,4713257.0,4828066.0,4944861.0,5064386.0,5186824.0,5312340.0,5441062.0,5570733.0,5702174.0,5835806.0
10,Estados Unidos,16,38,27,19,36,28,20,40,30,...,954297.0,971753.0,989087.0,1006259.0,1023261.0,1040233.0,1057198.0,1073994.0,1090156.0,1105557.0
11,Nicaragua,16,36,26,15,35,25,17,37,27,...,37260563.0,38000626.0,38760168.0,39543154.0,40339329.0,41136546.0,41927007.0,42705368.0,43451666.0,44177969.0

In [17]:
examp_pop_t = examp_pop.T
examp_pop_t

,0,1,2,3,4,5,6,7,8,9,10,11
country,Argentina,Brasil,Colombia,Costa Rica,Ecuador,El Salvador,Guatemala,Honduras,México,España,Estados Unidos,Nicaragua
2005_min,17,14,16,16,16,16,16,16,16,16,16,16
2005_max,37,35,38,36,36,36,36,36,36,38,38,36
2005_avg,27,25,27,26,26,26,26,26,26,27,27,26
2006_min,12,20,19,15,15,15,15,15,15,19,19,15
...,...,...,...,...,...,...,...,...,...,...,...,...
2017,30208628.0,11155593.0,11596779.0,19835858.0,2401840.0,4996741.0,24848016.0,24393181.0,84283273.0,5312340.0,1040233.0,41136546.0
2018,31273533.0,11493472.0,11940683.0,20392723.0,2451409.0,5094780.0,25493988.0,25076747.0,87087355.0,5441062.0,1057198.0,41927007.0
2019,32353588.0,11874838.0,12290444.0,20951639.0,2499702.0,5209324.0,26147551.0,25782341.0,89906890.0,5570733.0,1073994.0,42705368.0
2020,33428486.0,12220227.0,12643123.0,21522626.0,2546402.0,5343020.0,26811790.0,26491087.0,92853164.0,5702174.0,1090156.0,43451666.0
2021,34503774.0,12551213.0,12996895.0,22100683.0,2588423.0,5457154.0,27478249.0,27198628.0,95894118.0,5835806.0,1105557.0,44177969.0